<section class="register-wrapper">
  <form class="register-section" id="registrationForm" onsubmit="return validateForm()" novalidate>
    <h4 class="text-center">Registration</h4>

    <div class="mb-3_reg">
      <label for="first_name" class="form-label">First Name:</label>
      <input type="text" id="first_name" name="first_name" class="form-control" validateName()>
      <span id="name-error">Name is required</span> <br>

      <label for="last_name" class="form-label">Last Name:</label>
      <input type="text" id="last_name" name="last_name" class="form-control" validatelastname()>
      <span id="lastname-error">Last name is required</span> <br>

      <label for="date_of_birth" class="form-label">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" onchange="validateDOB()">
      <span id="date-error"></span> <br>

      <label class="form-label">Gender:</label><br>
      <div class="form-check">
        <input type="radio" name="gender" id="gender_male" value="male" class="form-check-input">
        <label class="form-check-label" for="gender_male">Male</label>
      </div>
      <div class="form-check">
        <input type="radio" name="gender" id="gender_female" value="female" class="form-check-input">
        <label class="form-check-label" for="gender_female">Female</label>
      </div>
      <div class="form-check">
        <input type="radio" name="gender" id="gender_other" value="prefer_not_to_say" class="form-check-input">
        <label class="form-check-label" for="gender_other">Prefer not to say</label>
      </div>

      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" class="form-control" validateEmail()>
      <span id="email-error">Email is required</span> <br>

      <label for="username_reg" class="form-label">Username:</label>
      <input type="text" name="username_reg" id="username_reg" class="form-control" validateUsername() required>
      <span id="username-error">Username is required</span> <br>

      <label for="password_reg" class="form-label">Password:</label>
      <input type="password" name="password_reg" id="password_reg" class="form-control" required>
      <p id="message-pass" style="display:none">Password is <span id="strenght"></span></p>

      <label for="tel_number" class="form-label">Telephone Number:</label>
      <input type="tel" id="tel_number" name="tel_number" class="form-control" validatePhone()>
      <span id="telnum-error">Telephone number is required</span> <br>

      <label for="country" class="form-label">Country:</label>
      <input type="text" name="country" id="country" class="form-control"> <br>

      <label for="city" class="form-label">City:</label>
      <input type="text" name="city" id="city" class="form-control"> <br>

      <label for="address" class="form-label">Address:</label>
      <input type="text" name="address" id="address" class="form-control">
    </div>

    <button type="submit" class="btn btn-danger_reg mt-1 w-100">Register</button>
    <span id="submit-error" style="display:none">Please fill out the form.</span>
    
    <p class="text-center mt-3">
      Already have an account? <a href="#login">Login here!</a>
    </p>
  </form>
</section>

<script type="text/javascript">
  UserService.initRegister();
</script>